<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>消费者管理列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('Ly/uadd')}">新 增</a>
           <button class="btn ajax-post confirm" url="{:U('User/changeStatus',array('method'=>'delu'))}" target-form="ids">删 除</button>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="userName" class="search-input" value="{:I('userName')}" placeholder="请输入用户昵称或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('uindex')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">UID</th>
		<th class="">用户名</th>
		<th class="">联系方式</th>
		<th class="">性别</th>
		<th class="">真实姓名</th>
		<th class="">等级</th>
		<th class="">注册时间</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="userID[]" value="{$vo.userID}" /></td>
			<td>{$vo.userID} </td>
			<td>{$vo.userName}</td>
			<td>{$vo.userTel}</td>
			<td>{$vo.userSex}</td>
			<td>{$vo.userRName}</td>
			<td>{$vo.userGrade}</td>
			<td><span>{$vo.addTime}</span></td>
			<td>
				<a title="编辑" href="{:U('uedit?userID='.$vo['userID'])}">编辑</a>
                <a class="confirm ajax-get" title="删除" href="{:U('delu?userID='.$vo['userID'])}">删除</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Ly/uindex')}');
	</script>
</block>
