<extend name="Public/base"/>

<block name="style">
<style type="text/css"> 
*{margin:0;padding:0;list-style-type:none;}

/* star */
#star{width:600px;margin:10px 0 10px 0;height:24px;}
#star ul,#star span{float:left;display:inline;height:19px;line-height:19px;}
#star ul{margin:0 10px;}
#star li{float:left;width:24px;cursor:pointer;text-indent:-9999px;background:url(/onethink1/public/Admin/images/star.png) no-repeat;}
#star strong{color:#f60;padding-left:10px;}
#star li.on{background-position:0 -28px;}
#star p{position:absolute;top:20px;width:159px;height:60px;display:none;background:url(/onethink1/public/Admin/images/icon.gif) no-repeat;padding:7px 10px 0;}
#star p em{color:#f60;display:block;font-style:normal;}
</style>
</block>

<block name="body">
    <div class="main-title">
        <h2>{:isset($info['bivouacID'])?'编辑':'新增'}活动信息</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">活动名称<span class="check-tips">（输入活动名称）</span></label>
            <div class="controls">
                <input type="text" id="startTime" class="text input-large" name="campName" value="{$info.campName|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">所在营地<span class="check-tips">（输入营地具体地址）</span></label>
            <div class="controls">
                <input type="text" id="endTime" class="text input-large" name="bivName" value="{$result.bivName}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">活动参与人数<span class="check-tips">（输入单次参与活动所需人数）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="campAmount" value="{$info.campAmount|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">单人单次活动价格<span class="check-tips">（输入单人单次参与活动的费用）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="campPrice" value="{$info.campPrice|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">活动背景<span class="check-tips">（输入活动背景描述）</span></label>
            <textarea name="bivDes">{$info.gamesBg|default=''}</textarea>
            {:hook('adminArticleEdit', array('name'=>$info['name'],'value'=>$info['name']))}
        </div>
        <div class="form-item">
            <label class="item-label">安全须知<span class="check-tips">（输入活动安全提醒）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="campSafety" value="{$info.campSafety|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">冒险度<span class="check-tips">（输入活动冒险度）</span></label>
            
               <div id="star">
					<span style="color:#666;font:12px/1.5 Arial;">星级评论打分</span>
					<ul>
						<li><a href="javascript:;">1</a></li>
						<li><a href="javascript:;">2</a></li>
						<li><a href="javascript:;">3</a></li>
						<li><a href="javascript:;">4</a></li>
						<li><a href="javascript:;">5</a></li>
						<input type="hidden" value="" name="gameRisk" class="gameRisk">
					</ul>
					<span></span>
					<p></p>
				</div>
                           
        </div>
        <div class="form-item">
            <label class="item-label">活动始末时间<span class="check-tips">（用于营地类型搜索标签）</span></label>
            <div class="controls">
                <div>
                <font style="size:12;">开始时间：</font>
                <input type="time" class="text input-small" name="startTime" value="{$info.startTime|default=''}" />
                </div>
                </br>
                <div>
                <font style="size:12;">结束时间：</font>
                <input type="time" class="text input-small" name="endTime" value="{$info.endTime|default=''}" />
                </div>
            </div>
        </div>
        
        <div class="form-item">
            <input type="hidden" name="campID" value="{$info.campID|default=''}">
            
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        Think.setValue("pid", {$info.pid|default = 0});
        Think.setValue("hide", {$info.hide|default = 0});
        Think.setValue("is_dev", {$info.is_dev|default = 0});
        //导航高亮
        highlight_subnav('{:U('glist')}');
        
        /* //时间
         var str = "";   
    document.writeln("<div id=\"_contents\" style=\"padding:5px;background-color:#ECF7FE;font-size:12px;border:1px solid #CFD1D5;position:absolute;left:?px; top:?px; width:?px; height:?px;z-index:1;visibility:hidden\">");   
    str += "时<select id=\"_hour\">";   
  
    for (h = 0; h <= 23; h++) {   
        if(h >=0 && h<=9)  
           str += "<option value=\"0" + h + "\">0" + h + "</option>";  
        else  
           str += "<option value=\"" + h + "\">" + h + "</option>";   
    }  
  
    str += "</select> 分<select id=\"_minute\">";   
    for (m = 0; m <= 59; m++) {   
        if(m >=0 && m<=9)  
           str += "<option value=\"0" + m + "\">0" + m + "</option>";  
        else  
           str += "<option value=\"" + m + "\">" + m + "</option>";   
            
    }  
  
      
  
    str += "</select> <input type=\"button\" onclick=\"_select()\" value=\"\确定\" /> <input type=\"button\" onclick=\"_clear()\" value=\"\清除\" /></div>";   
    document.writeln(str);  
  
    var _fieldname;   
  
    function _SetTime(tt) {   
        _fieldname = tt;   
        var ttop = tt.offsetTop;    //TT控件的定位点高   
        var thei = tt.clientHeight;    //TT控件本身的高   
        var tleft = tt.offsetLeft;    //TT控件的定位点宽   
        while (tt = tt.offsetParent) {   
            ttop += tt.offsetTop;   
            tleft += tt.offsetLeft;   
        }   
        document.all._contents.style.top = ttop + thei + 4;   
        document.all._contents.style.left = tleft;   
        document.all._contents.style.visibility = "visible";   
    }   
  
    function _select() {   
        _fieldname.value = document.all._hour.value+":"+ document.all._minute.value;   
        document.all._contents.style.visibility = "hidden";   
    }  
      
    function _clear() {   
        document.all._hour.value = document.all._minute.value = "00";  
        _fieldname.value = "";  
        document.all._contents.style.visibility = "hidden";  
    }  
  
    document.onclick = function(e){  
        e = window.event||e;  
        obj = e.srcElement ? e.srcElement : e.target;  
        if(obj.className != "time" && obj.id != "_contents" && obj.id != "_hour" && obj.id != "_minute" && obj.id != "_second"){  
            document.all._contents.style.visibility = "hidden";  
        }  
 
}; */


		//星星打分
		window.onload = function (){
		
		var oStar = document.getElementById("star");
		var aLi = oStar.getElementsByTagName("li");
		var oUl = oStar.getElementsByTagName("ul")[0];
		var oSpan = oStar.getElementsByTagName("span")[1];
		var oP = oStar.getElementsByTagName("p")[0];
		var i = iScore = iStar = 0;
		var aMsg = [
				"很简单|人人都能过关，超简单的",
				"较简单|少部分人可能通不了关，蛮简单",
				"一般|部分人会遇到困难，难度中等",
				"较难 |少部分人能通过，难度较大",
				"很难 |较少人能闯过此关，超难啊"
				]
		
		for (i = 1; i <= aLi.length; i++){
		aLi[i - 1].index = i;
		
		//鼠标移过显示分数
		aLi[i - 1].onmouseover = function (){
			fnPoint(this.index);
			//浮动层显示
			oP.style.display = "block";
			//计算浮动层位置
			oP.style.left = oUl.offsetLeft + this.index * this.offsetWidth - 104 + "px";
			//匹配浮动层文字内容
			oP.innerHTML = "<em><b>" + this.index + "</b> 分 " + aMsg[this.index - 1].match(/(.+)\|/)[1] + "</em>" + aMsg[this.index - 1].match(/\|(.+)/)[1]
		};
		
		//鼠标离开后恢复上次评分
		aLi[i - 1].onmouseout = function (){
			fnPoint();
			//关闭浮动层
			oP.style.display = "none"
		};
		
		//点击后进行评分处理
		aLi[i - 1].onclick = function (){
			iStar = this.index;
			oP.style.display = "none";
			oSpan.innerHTML = "<strong>" + (this.index) + " 分</strong> (" + aMsg[this.index - 1].match(/\|(.+)/)[1] + ")"
		   }
		}
		
		//评分处理
		function fnPoint(iArg){
		//分数赋值
		iScore = iArg || iStar;
		for (i = 0; i < aLi.length; i++) aLi[i].className = i < iScore ? "on" : "";	
		}
		$("#star ul li").click(function(){
		var $store = $(this).find("a").text();//获取到评分
		
		$(".gameRisk").val($store);
		})
		};
    </script>
</block>